# **Data Pre-Processing**

Data pre-processing means cleaning and organizing data before we use it for analysis or decision-making.

In real life, data is often not perfect when it is first collected. It can contain:


*   Missing information (some details are left blank)

*   Repeated records (the same data appears more than once)



*   Wrong formats (numbers stored as text, dates written incorrectly)

*   Unnecessary or incorrect values (errors or irrelevant data)


If we use this raw data without fixing these problems, the results we get may be incorrect or misleading. This can lead to wrong conclusions.

So, data pre-processing is done to:


*   Remove errors
*   Fix missing or incorrect values



*   Organize the data properly


After pre-processing, the data becomes clean, accurate, and reliable, which makes further analysis meaningful.

###**1. Importing Required Libraries**

What is done:

The Pandas and NumPy libraries are imported again in this file.

Since this is a new file, the required tools must be loaded again so the system understands how to handle data tables and calculations.

This is similar to opening tools again when starting work in a new notebook.

In [ ]:
import pandas as pd
import numpy as np

###**2. Loading the Dataset**

What is done:

The dataset is read again from the Excel file and stored in a DataFrame.

The data is loaded into memory so it can be cleaned and modified.
Without loading the data, no changes or corrections can be made.

This step is like opening a register before correcting mistakes in it.

In [ ]:
df = pd.read_excel("online_retail_dataset.xlsx")

###**3. Checking for Missing Values**

What is done:
The dataset is checked to identify columns that contain missing or empty values.

Some records may not have complete information.

This step helps identify:

Which columns have missing data

How many values are missing

This is similar to finding blank fields in a filled form.

In [ ]:
df.isnull().sum()    #Checking missing values

InvoiceNo               0
StockCode               0
Description             0
Quantity                0
InvoiceDate             0
UnitPrice               0
CustomerID           4978
Country                 0
Discount                0
PaymentMethod           0
ShippingCost         2489
Category                0
SalesChannel            0
ReturnStatus            0
ShipmentProvider        0
WarehouseLocation    3485
OrderPriority           0
dtype: int64

###**4. Handling Missing Values**

What is done:
Missing values are either:

Filled with appropriate values (mean, median, or default values), or

Removed if they are not useful

Missing values can cause errors and incorrect analysis.
By handling them properly, the dataset becomes more accurate and consistent.

This is like filling empty fields or removing unusable forms.

In [ ]:
df['Description'].fillna("Unknown", inplace=True)
df['CustomerID'].fillna(0, inplace=True)

/tmp/ipython-input-4032601189.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Description'].fillna("Unknown", inplace=True)
/tmp/ipython-input-4032601189.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CustomerID'].fillna(0, inplace=True)

###**5. Removing Duplicate Records**

What is done:
Duplicate rows are identified and removed from the dataset.

Sometimes the same data is entered more than once by mistake.

Removing duplicates ensures:


*   No repeated information

*   Accurate calculations and analysis

This is similar to removing repeated entries from an attendance register.

In [ ]:
df.duplicated().sum()
df = df.drop_duplicates()

###**6. Correcting Data Types**

What is done:
Some columns are converted into the correct data format, such as:

Dates → Date format

Numbers → Numeric format

Text → String format

Data must be stored in the correct format to perform calculations correctly.

For example:

Dates should behave like dates

Prices should behave like numbers

This is like making sure phone numbers are treated as numbers and dates as dates.

In [ ]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
df['CustomerID'] = df['CustomerID'].astype(int)
df['Quantity'] = df['Quantity'].astype(int)
df['UnitPrice'] = df['UnitPrice'].astype(float)

### **7. Remove Invalid or Unknown Data**

What is done:

Records with incorrect, unrealistic, or unknown values are identified and removed from the dataset.

Invalid or unknown data can give wrong results during analysis.
By removing such records, only meaningful and accurate data is used.

This is like removing wrong or meaningless entries from a register before preparing a report.

In [ ]:
df = df[~df['InvoiceNo'].astype(str).str.startswith('C')] #remove cancelled orders

In [ ]:
df = df[df['Quantity'] > 0]  #remove negative quantity

In [ ]:
df = df[df['UnitPrice'] > 0]  #remove zero price

### **8. Creating Derived (New) Columns**

What is done:

New columns are created using existing data (for example: Total Price = Quantity × Unit Price).

Derived columns help generate new useful information from existing data.
These columns make analysis easier and more meaningful.

This is similar to calculating total marks using individual subject marks.

In [ ]:
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']        #Create total transaction value

In [ ]:
df['Year'] = df['InvoiceDate'].dt.year         #Extract date information
df['Month'] = df['InvoiceDate'].dt.month
df['Day'] = df['InvoiceDate'].dt.day
df['Hour'] = df['InvoiceDate'].dt.hour

### **9. Filtering the Data**

What is done:

Unnecessary or invalid records (such as negative values or canceled transactions) are removed.

Not all data is useful for analysis.
Filtering ensures that only valid and meaningful records are considered.

This is like removing incorrect or incomplete forms before analysis.

In [ ]:
df.sort_values(by='TotalPrice', ascending=False).head(10)   #Filter top-selling products

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Discount,PaymentMethod,...,SalesChannel,ReturnStatus,ShipmentProvider,WarehouseLocation,OrderPriority,TotalPrice,Year,Month,Day,Hour
6204,220062,SKU_1258,USB Cable,49,2020-09-15 12:00:00,99.92,0,Sweden,0.01,Bank Transfer,...,Online,Not Returned,UPS,NaN,Low,4896.08,2020,9,15,12
30087,402079,SKU_1790,Notebook,49,2023-06-07 15:00:00,99.78,43562,Germany,0.08,Bank Transfer,...,Online,Not Returned,DHL,Rome,Medium,4889.22,2023,6,7,15
27878,759156,SKU_1178,Headphones,49,2023-03-07 14:00:00,99.73,63706,Germany,0.40,Credit Card,...,In-store,Not Returned,DHL,Paris,High,4886.77,2023,3,7,14
4511,132441,SKU_1488,Headphones,49,2020-07-06 23:00:00,99.68,25189,Italy,0.40,paypall,...,Online,Not Returned,UPS,Rome,High,4884.32,2020,7,6,23
15889,400141,SKU_1322,Desk Lamp,49,2021-10-24 01:00:00,99.66,93080,Australia,0.19,Credit Card,...,Online,Not Returned,DHL,Rome,High,4883.34,2021,10,24,1
31077,268560,SKU_1012,Desk Lamp,49,2023-07-18 21:00:00,99.42,44586,United States,0.04,paypall,...,Online,Not Returned,Royal Mail,Rome,High,4871.58,2023,7,18,21
2738,265575,SKU_1590,Backpack,49,2020-04-24 02:00:00,99.42,99784,Spain,0.31,Bank Transfer,...,Online,Returned,FedEx,Amsterdam,Medium,4871.58,2020,4,24,2
3329,446874,SKU_1946,USB Cable,49,2020-05-18 17:00:00,99.25,45442,United Kingdom,0.40,Bank Transfer,...,In-store,Not Returned,FedEx,Amsterdam,High,4863.25,2020,5,18,17
44252,128788,SKU_1946,Backpack,49,2025-01-17 20:00:00,99.06,46660,Netherlands,0.07,Credit Card,...,In-store,Not Returned,Royal Mail,Berlin,Medium,4853.94,2025,1,17,20
47610,497933,SKU_1994,T-shirt,49,2025-06-06 18:00:00,98.99,44232,Spain,0.18,paypall,...,Online,Not Returned,UPS,Rome,Low,4850.51,2025,6,6,18

In [ ]:
df[df['Country'] == "United Kingdom"]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Discount,PaymentMethod,...,SalesChannel,ReturnStatus,ShipmentProvider,WarehouseLocation,OrderPriority,TotalPrice,Year,Month,Day,Hour
10,621430,SKU_1144,Notebook,49,2020-01-01 10:00:00,87.56,13030,United Kingdom,0.19,paypall,...,In-store,Returned,UPS,Paris,Medium,4290.44,2020,1,1,10
32,358795,SKU_1023,Headphones,30,2020-01-02 08:00:00,99.31,61358,United Kingdom,0.31,Credit Card,...,Online,Not Returned,Royal Mail,Berlin,Medium,2979.30,2020,1,2,8
55,356840,SKU_1747,Office Chair,36,2020-01-03 07:00:00,5.04,61799,United Kingdom,0.15,Bank Transfer,...,In-store,Returned,FedEx,Paris,Low,181.44,2020,1,3,7
62,305041,SKU_1731,Desk Lamp,45,2020-01-03 14:00:00,54.79,0,United Kingdom,0.23,Credit Card,...,In-store,Not Returned,DHL,NaN,Medium,2465.55,2020,1,3,14
76,704365,SKU_1528,Office Chair,14,2020-01-04 04:00:00,66.41,16761,United Kingdom,0.22,paypall,...,Online,Not Returned,Royal Mail,Amsterdam,High,929.74,2020,1,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49702,901010,SKU_1239,Headphones,48,2025-09-01 22:00:00,83.27,41861,United Kingdom,0.31,Credit Card,...,In-store,Not Returned,FedEx,Rome,Low,3996.96,2025,9,1,22
49733,811364,SKU_1271,Wall Clock,19,2025-09-03 05:00:00,16.17,35172,United Kingdom,0.27,Bank Transfer,...,In-store,Not Returned,Royal Mail,London,High,307.23,2025,9,3,5
49762,691338,SKU_1543,Wall Clock,19,2025-09-04 10:00:00,89.93,56247,United Kingdom,0.05,paypall,...,In-store,Not Returned,FedEx,Rome,Medium,1708.67,2025,9,4,10
49776,524453,SKU_1316,Office Chair,43,2025-09-05 00:00:00,84.19,84399,United Kingdom,0.25,Credit Card,...,Online,Not Returned,DHL,Amsterdam,Low,3620.17,2025,9,5,0
49780,701213,SKU_1602,Notebook,48,2025-09-05 04:00:00,39.64,43199,United Kingdom,0.31,paypall,...,Online,Not Returned,Royal Mail,London,Medium,1902.72,2025,9,5,4

### **10. Aggregating the Data**

What is done:

Data is grouped and summarized (for example: total sales per country or per month).

Aggregation helps convert large datasets into easy-to-understand summaries.
Instead of viewing individual records, we see overall patterns and totals.

This is similar to summarizing daily sales into monthly sales reports.

In [ ]:
#Total sales per product
product_sales = df.groupby("Description")['TotalPrice'].sum()
product_sales.sort_values(ascending=False).head(10)

Description
White Mug         5572279.45
USB Cable         5484590.72
Wall Clock        5458756.15
Backpack          5457382.54
Desk Lamp         5433945.79
Wireless Mouse    5396283.13
Blue Pen          5368805.79
Headphones        5345233.83
T-shirt           5340482.08
Office Chair      5335163.52
Name: TotalPrice, dtype: float64

In [ ]:
#Monthly Revenue
monthly_sales = df.groupby("Month")['TotalPrice'].sum()
monthly_sales

Month
1     5350126.82
2     4881090.55
3     5370267.18
4     5171102.68
5     5263508.15
6     5092829.31
7     5251783.86
8     5345618.95
9     4476134.41
10    4472260.79
11    4373636.14
12    4453434.98
Name: TotalPrice, dtype: float64

In [ ]:
#Customer Spending
customer_sales = df.groupby("CustomerID")['TotalPrice'].sum()
customer_sales.sort_values(ascending=False).head(10)

CustomerID
0        3100448.76
21733      11806.36
14461      11584.55
68777      10987.36
81067      10869.68
98923      10420.53
84431      10332.11
72172      10115.41
52808      10063.92
42177       9946.79
Name: TotalPrice, dtype: float64

### **11.Detect Outliers**

What is done:

Extreme or unusual values that differ significantly from the rest of the data are identified.

Outliers are data values that are much higher or lower than normal and may affect the accuracy of analysis.
Detecting outliers helps understand whether these values are genuine or errors that need attention.

This is like noticing unusually high or low marks in a class compared to other students.

In [ ]:
df[['Quantity', 'UnitPrice', 'TotalPrice']].describe()

           Quantity    UnitPrice    TotalPrice
count  47293.000000  47293.00000  47293.000000
mean      24.893578     50.58546   1258.152239
std       14.140763     28.60079   1088.103657
min        1.000000      1.00000      1.010000
25%       13.000000     25.82000    358.200000
50%       25.000000     50.40000    946.400000
75%       37.000000     75.37000   1904.430000
max       49.000000    100.00000   4896.080000

### **10. Final Outcome of Data Pre-Processing**

After pre-processing:

The dataset is clean

*   The dataset is clean
*   Missing and duplicate values are handled




*   Data types are corrected
*   New useful columns are added




*   Only valid data is retained

This ensures the dataset is ready for accurate visualization and analysis.

In [ ]:
df['WarehouseLocation'].fillna("Unknown", inplace=True)
df.to_excel("Final_Cleaned_Online_Retail.xlsx", index=False)

/tmp/ipython-input-959901458.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['WarehouseLocation'].fillna("Unknown", inplace=True)

### **Data pre-processing was performed to clean, correct, and structure the dataset, ensuring accuracy and reliability for further analysis and visualization.**